# -------------------------
# PYTHON (FASTAPI BACKEND)
# -------------------------

__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log
*.env
backend/venv/
venv/
.env
.env.local

# -------------------------
# NEXTJS (FRONTEND)
# -------------------------

node_modules/
frontend/node_modules/

# Ignore Next.js build
.next/
frontend/.next/
frontend/.next/**

# Ignore Next.js dev + cache folders (these cause long filename errors)
frontend/.next/cache/
frontend/.next/dev/
frontend/.next/server/
frontend/.next/static/

# Ignore build outputs
frontend/out/
out/

# -------------------------
# OS / EDITOR FILES
# -------------------------

.DS_Store
Thumbs.db
.vscode/
.idea/

# -------------------------
# DATASETS
# -------------------------
dataset/*.csv
